.rightButton {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;
}
.button {
  height: 4rem;
  width: 20rem;
  border-radius: 0.5rem;
  padding: 0px 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button i {
  font-size: 1.5rem;
  margin: 0px 5px;
}
.location,
.fullName {
  display: flex;
  justify-content: space-between;
}
.location input,
.fullName input {
  width: 100%;
  margin-right: 1rem;
}
.inputLoc,
.inputName {
  width: 100%;
  padding-right: 1rem;
}
.title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.saveButton {
  height: 4rem;
  width: 30rem;
  border-radius: 0.5rem;
  padding: 0px 3rem;
}
